<h1 class="text-center">Grades#index</h1>
<div class="container">
<%= link_to 'Return to Dashboard', dashboards_path, class: "btn btn-primary mb-3" %>
<%= link_to 'Return to Classes', kurasus_path, class: "btn btn-primary mb-3" %>
<% if @english_grades.exists? %>
<div class="card mb-5" style="width: 52rem;">
    <h5 class="card-title text-center">English</h5>
  <% @english_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
<% end %>

<% if @math_grades.exists? %>
<div class="card mb-5" style="width: 52rem;">
    <h5 class="card-title text-center">Math</h5>
  <% @math_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
<% end %>



<% if @socialstudies_grades.exists? %>
<div class="card mb-5" style="width: 52rem;">
    <h5 class="card-title text-center">Social Studies</h5>
  <% @socialstudies_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
<% end %>

<% if @japanese_grades.exists? %>
<div class="card mb-5" style="width: 52rem;" >
    <h5 class="card-title text-center">Japanese</h5>
  <% @japanese_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
<% end %>




<% if @history_grades.exists? %>
<div class="card mb-5" style="width: 52rem;">
    <h5 class="card-title text-center">History</h5>
  <% @history_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
<% end %>



</div>


