<h1 class="text-center">Grades#index</h1>
<div class="container">
<div class="card mb-5" style="width: 52rem;">
    <h5 class="card-title">English</h5>
  <% @english_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>


<div class="card " style="width: 52rem;">
    <h5 class="card-title">Math</h5>
  <% @math_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>




<div class="card " style="width: 52rem;">
    <h5 class="card-title">Social Studies</h5>
  <% @socialstudies_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>


<div class="card " style="width: 52rem;">
    <h5 class="card-title">Japanese</h5>
  <% @japanese_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>




<div class="card " style="width: 52rem;">
    <h5 class="card-title">History</h5>
  <% @history_grades.each do |grade| %>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= grade.date %></h6>
    <p class="card-text"></p>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= grade.name %></h5>
        <p class="card-text"><%= grade.value %></p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>




</div>


