<div class="text-white text-center my-4">
  <h1><%= @student.first_name %>'s Grades</h1>
</div>

<% if @english_grades.exists? %>
  <div class="table-responsive">
  <div class="container">
    <h4 class="text-left btn topic bg-white text-black">English</h4 >
  </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          <% @english_grades.each do |grade| %>
            <tr>
              <th scope="row"><%= grade.date.strftime("%B %d, %Y") %></th>
              <td><%= grade.name %></td>
              <td><%= grade.value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div>
<% end %>

<% if @math_grades.exists? %>
  <div class="table-responsive">
    <div class="container">
      <h4 class="text-left btn topic bg-white text-black">Math</h4 >
    </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          <% @math_grades.each do |grade| %>
            <tr>
              <th scope="row"><%= grade.date.strftime("%B %d, %Y") %></th>
              <td><%= grade.name %></td>
              <td><%= grade.value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div>
<% end %>

<% if @socialstudies_grades.exists? %>
  <div class="table-responsive">
    <div class="container">
      <h4 class="text-left btn topic bg-white text-black">Social Studies</h4 >
    </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          <% @socialstudies_grades.each do |grade| %>
            <tr>
              <th scope="row"><%= grade.date.strftime("%B %d, %Y") %></th>
              <td><%= grade.name %></td>
              <td><%= grade.value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div>
<% end %>

<% if @japanese_grades.exists? %>
  <div class="table-responsive">
    <div class="container">
      <h4 class="text-left btn topic bg-white text-black">Japanese</h4 >
    </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          <% @japanese_grades.each do |grade| %>
            <tr>
              <th scope="row"><%= grade.date.strftime("%B %d, %Y") %></th>
              <td><%= grade.name %></td>
              <td><%= grade.value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div>
<% end %>

<% if @history_grades.exists? %>
  <div class="table-responsive">
    <div class="container">
      <h4 class="text-left btn topic bg-white text-black">History</h4 >
    </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
          <% @history_grades.each do |grade| %>
            <tr>
              <th scope="row"><%= grade.date.strftime("%B %d, %Y") %></th>
              <td><%= grade.name %></td>
              <td><%= grade.value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div>
<% end %>
<%= link_to 'Return to Dashboard', dashboards_path, class: "btn btn-info ml-3" %>
<%= link_to 'Return to Classes', kurasus_path, class: "btn btn-info" %>
