<% @student.messages.each do |message| %>
  <div class="d-flex justify-content-between">
    <%= cl_image_tag message.photo.key, :class=>"message-img mt-4", height: 200, width: 200, crop: :fill if message.photo.attached? %>
    <div class="card mt-4 flex-grow-1" id="message-card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <h5><%= message.title %></h5>
          <em><%= message.created_at.strftime("%A, %b %d %Y") %></em>
        </div>
        <p class="card-text"><%= message.content %></p>
        <div class="d-flex">
          <div class="notification-buttons">
            <%= link_to comments_read_path(message), class: "btn btn-danger ml-2", remote: true do %>
              <% if message.comments.any? %>
                See Comments <i class="fas fa-sort-down"></i>
              <% else %>
                Add Comment <i class="fas fa-sort-down"></i>
              <% end %>
            <% end %>
            <% if message.comments.where(status: "unread").count > 0 %>
              <div class="notification-pill" id="notif-comment-<%= message.id %>">
                <%= message.comments.where(status: "unread").count %>
              </div>
            <% else %>
              <div id="notif-comment-<%= message.id %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="comment<%= message.id %>">
    <% message.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
    <div id="comment<%= message.id %>-placeholder"></div>
    <div class="card mt-4" id="<%= current_user.teacher ? "teacher-comment": "parents-comment" %>">
      <div class="card-body">
        <div class="d-flex flex-column <%= "text-right" unless current_user.teacher %>">
          <%= render 'comments/form', message: message, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%# raise %>
