<div class="container mt-3 text-center">
  <h1><%= @student.last_name %>, <%= @student.first_name %>'s Correspondence Notebook (連絡帳)</h1>
  <p>Student Number: <%= @student.student_number %></p>
  <%= link_to "Add New Message", new_student_message_path, class: "btn btn-primary" if current_user.teacher%>
  <%= link_to "Return", kurasus_path, class: "btn btn-primary ml-2" %>
  <% @student.messages.each do |message| %>
    <div class="card mt-4">
      <div class="card-body">
        <div class="d-flex">
          <%= cl_image_tag message.photo.key, height: 200, width: 200, crop: :fill if message.photo.attached? %>
        </div>

        <h5 class="card-title"><%= message.created_at.strftime("%Y-%m-%d") %>: <%= message.title %></h5>
        <p class="card-text"><%= message.content %></p>
        <%= link_to "Add Comment", new_message_comment_path(message), class: "btn btn-primary" %>
      </div>
    </div>
    <% message.comments.each do |comment| %>
      <div class="card mt-4">
        <div class="card-body">
          <div class="d-flex">
          <strong><%= comment.user.name %></strong>- <%= comment.content %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
