<h1><%= @student.first_name %> <%= @student.last_name %>'s Correspondence Notebook</h1>
<p>Student Number: <%= @student.student_number %></p>
<% @messages.each do |message| %>
  <%= message.title %>
  <%= message.content %>
<% end %>
