<div class="container bg-white p-3">
  <h2 class="text-center"><%= @meetings[0].title %></h2>
  <p class="text-center"><em>"<%= @meetings[0].content %>"</em></p>
  <p class="text-center">Choose a timeslot for: <strong id="meeting-day" class="p-2"><%= @meetings[0].date.strftime("%A, %b %d") %></strong></p>
    <div class="container d-flex justify-content-center">
      <% @meetings.each do |meeting| %>
        <% if current_user.teacher? || current_user.meetings_as_parent.exists? %>
          <div class="timeslot mt-4 mx-1 align-middle">
            <h5><%= meeting.hour %></h5>
            <%= meeting.parent ? meeting.parent.name : nil %>
          </div>
        <% else %>
          <%= simple_form_for meeting do |f| %>
            <%= f.button :button, data: { confirm: "Are you sure you want to book this timeslot?" } do %>
            <div class="timeslot mt-4 mx-1 align-middle">
              <h5><%= meeting.hour %></h5>
              <%= meeting.parent ? meeting.parent.name : nil %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
