<h1 class="text-center mt-3 text-white">Parent Teacher Meetings</h1>
<div class="container mt-3 text-center">
  <%= link_to 'Return to Classes', kurasus_path, class: "btn btn-primary mx-1" %>
  <%= link_to 'Add Meeting', new_kurasu_meeting_path, class: "btn btn-danger mx-1" if @user.teacher %> <%# TODO This needs to become a button that reveals/collapses the new meeting form. %>
  <%= simple_form_for([@kurasu, @meeting], remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.submit 'Create meeting', class: 'btn btn-danger mt-2 btn-lg btn-block' %>
  <% end %>
</div>
<%= render 'meetings_card' %>
