<% @user.kurasus.each do |kurasu| %>
  <div class="container">
      <div class="card mt-4" id="class-card">
        <div class="card-body">
          <a href="#" class="schedule-button">Schedule</a>
          <p class="card-text stretched-link">Class - <%= kurasu.name %></p>
        </div>
      </div>
    <div class="cards mt-2">
    <% kurasu.students.sort_by { |student| student.last_name}.each do |student| %>
      <div class="card my-4" id="student-card">
          <div class="flex-column justify-content-between">
            <div class="notebook-button">
              <a href="/students/<%= student.student_number %>/messages" class="btn btn-primary">Notebook</a>
            </div>
            <div class="grades-button">
              <a href="#" class="btn btn-danger">Grades</a>
            </div>
          </div>
        <div class="card-body d-flex justify-content-between">
          <p class="card-text stretched-link pr-4"><%= student.first_name%> <%= student.last_name%></p>
          <p id="student-number">#<%= student.student_number %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
