<div class="container center">
  <div class="row">
    <% @events.each do |event| %>
      <div class="card col-sm-12 col-md-5 col-lg-4 m-3">
        <div class="card-body">
          <%= cl_image_tag event.photo.key,
            width: 200, height: 200, crop: :fill %>

          <h5 class="card-title"><%= event.title %></h5>
          <h6 class="card-subtitle my-2"><%= event.date.strftime("%e %b %Y %H:%M") %></h6>
          <p class="card-text"><%= simple_format(event.content) %></p>
        </div>
      </div>
      <div class="small">
        <article class="recipe">
          <div class="pizza-box">
            <%= cl_image_tag event.photo.key,
            width: 500, height: 500, crop: :fill %>
          </div>
          <div class="recipe-content">
            <p class="recipe-tags">
              <span class="recipe-tag">Event on the: <%= event.date.strftime("%e %b %Y %H:%M") %></span>
            </p>

            <h1 class="recipe-title"><a href="#"><%= event.title %></a></h1>

            <p class="recipe-desc"><%= simple_format(event.content) %></p>

            <button class="recipe-save" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000000"><path d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z" fill="currentColor"/></svg>
              Save
            </button>

          </div>
        </article>
      </div>
    <% end %>
  </div>
</div>
