<div class="container center">
  <div class="row">
    <% @events.each do |event| %>
      <div class="card col-sm-12 col-md-5 col-lg-4 m-3">
        <div class="card-body">
          <%= cl_image_tag event.photo.key,
            width: 200, height: 200, crop: :fill if event.photo.attached? %>
            <div class="d-flex">
              <% event.kurasus.each do |kurasu|%>
                <%= kurasu.name %>
              <% end %>
            </div>
          <h5 class="card-title"><%= event.title %></h5>
          <h6 class="card-subtitle my-2"><%= event.date.strftime("%e %b %Y %H:%M") %></h6>
          <p class="card-text"><%= simple_format(event.content) %></p>
          <%= link_to 'Delete Event', event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, class: "btn btn-danger mx-1" if @user.teacher %>
        </div>
      </div>
    <% end %>
  </div>
</div>
