<div class="container center">
  <div class="row">
    <% @events.each do |event| %>
      <div class="small m-3">
        <article class="event-card">
          <div class="pizza-box">
            <%= cl_image_tag event.photo.key, crop: :fill if event.photo.attached? %>
          </div>
          <div class="event-card-content">
            <p class="event-card-tags">
              <span class="event-card-tag">Event on the: <%= event.date.strftime("%e %b %Y %H:%M") %></span>
            </p>

            <h1 class="event-card-title"><a href="#"><%= event.title %></a></h1>

            <p class="event-card-desc"><%= simple_format(event.content) %></p>

            <div class="d-flex justify-content-between">
              <span class="event-card-save">
                <% event.kurasus.each do |kurasu|%>
                  <%= kurasu.name %>
                <% end %>
              </span>
              <%= link_to 'Delete Event', event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, class: "btn btn-danger mx-1" if @user.teacher %>
            </div>


          </div>
        </article>
      </div>
    <% end %>
  </div>
</div>
