<section style="background-color: #35393C;" class="py-4 mt-4">
  <h2 class="text-center text-white mb-5 mt-5">Parent teacher communication made easy</h2>
  <section class="container-fluid mx-0 px-0 d-flex">
    <div class="flex-column justify-content-center left-half p-4" style="flex: 1;">
      <h2 class="text-center text-white mb-3">TEACHERS</h2>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/bulletinboard.jpg' %>)">
        <h3>Bulletin board</h3>
        <p class="pl-2 text-center">Messages reach their intended recipients safely, limiting the risks of broken correspondence.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/notebook.jpg' %>)">
        <h3>Notebook</h3>
        <p class="pl-2 text-center">No need to manually fill students notebooks; notebooks are now accessible within dashboards. Easy and effective communication between parents and teachers.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/meeting.jpg' %>)">
        <h3>Parent/teacher meetings</h3>
        <p class="pl-2 text-center">Teachers can let parents know their availability and choose when to schedule meetings. Less time spent organizing means more time spent preparing.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/schedule.jpg' %>)">
        <h3>Schedules</h3>
        <p class="pl-2 text-center">Easy preparation of schedules for the entire year. Parents can quickly consult schedules, making schedule changes painless for both schools and parents alike.</p>
      </div>
    </div>
    <div class="flex-column justify-content-center right-half p-4" style="flex: 1;">
      <%= image_tag 'homepage/teacher.png', style: 'max-height: 800px' %>
    </div>
  </section>
  <section class="container-fluid mx-0 px-0 d-flex">
    <div class="flex-column justify-content-center left-half p-4" style="flex: 1;">
      <%= image_tag 'homepage/parent.png', style: 'max-height: 700px' %>
    </div>
    <div class="flex-column justify-content-center right-half p-4" style="flex: 1;">
      <h2 class="text-center text-white mb-3">PARENTS</h2>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsbulletin.jpg' %>)">
        <<<<<<< HEAD
        <h3>Bulletin board</h3>
        <p class="pl-2 text-center">Check the bulletin board and see what are the next events the school organizes. Make sure you do not miss precious time with your child.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsnotebook.jpg' %>)">
        <h3>Notebook</h3>
        <p class="pl-2 text-center">Get timely feedback from the teachers and communicate directly with them. No need to look for the notebook everywhere now.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsmeeting.jpg' %>)">
        <h3>Parent/teacher meetings</h3>
        <p class="pl-2 text-center">See when your child's teacher is available. Choose among the available slots that match your schedule.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsschedule.jpg' %>)">
        <h3>Schedules</h3>
        <p class="pl-2 text-center">Consult the updated schedule and make sure to prepare the right textbooks for your child. Make sure their day is worriless, and yours effortless.</p>
        =======
        <h3>Bulletin board</h3>
        <p class="pl-2 text-center">Simple and easy-to-understand layout allows to quickly check school and class events.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsnotebook.jpg' %>)">
        <h3>Notebook</h3>
        <p class="pl-2 text-center">Get timely feedback from teachers and communicate directly with them through the renRAKU Notebook.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsmeeting.jpg' %>)">
        <h3>Parent/teacher meetings</h3>
        <p class="pl-2 text-center">Clearly see available timeslots and book meetings with teachers on your own schedule.</p>
      </div>
      <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsschedule.jpg' %>)">
        <h3>Schedules</h3>
        <p class="pl-2 text-center">Easily track material needs for classes through updated schedules.</p>
        >>>>>>> d1dc514ec9564dd2f46598b0c67a41adba35ab70
      </div>
    </div>
  </section>
</section>
