<%= render 'shared/banner' %>
<div class="text-center text-white mt-4">
  <h2>WHAT ARE WE ABOUT?</h2>
  <p>Discover what renRAKU can do for you</p>
</div>
<div class="container d-flex justify-content-even mt-5">
<div class="homepage-cards">
<figure class="snip0016">
	<img src="<%= image_path 'dashboard/bulletinboard.jpg' %>"/>
	<figcaption>
		<h2>Know about the latest events</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="<%= image_path 'dashboard/notebook.jpg' %>"/>
	<figcaption>
		<h2>Exchange with parents or teachers</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="<%= image_path 'dashboard/meeting.jpg' %>"/>
	<figcaption>
		<h2>Schedule meetings at the school</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="<%= image_path 'dashboard/schedule.jpg' %>"/>
	<figcaption>
		<h2>Consult the weekly schedules</h2>
	</figcaption>
</figure>
</div>
<div class="container" style="margin: 200px"></div>
</div>
