<%= render 'shared/banner' %>
<%= render 'intro_block' %>
<section style="background-color: #35393C;" class="py-4 mt-4">
<h2 class="text-center text-white mb-5 mt-5">Parent teacher communication made easy</h2>
<section class="container-fluid mx-0 px-0 d-flex">
  <div class="flex-column justify-content-center left-half p-4" style="flex: 1;">
    <h2 class="text-center text-white">Teachers</h2>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/bulletinboard.jpg' %>)">
        <h3>Bulletin board</h3>
        <p class="pl-2 text-center">Use the built-in bulletin board to inform parents of upcoming events for the entire school or for sepcific classes. Make sure the message reaches the parents, limit the risks of children forgetting to inform their parents.</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/notebook.jpg' %>)">
        <h3>Notebook</h3>
        <p class="pl-2 text-center">No need to manually fill students notebooks. All notebooks are now accessible within your dashboard. Communicate efficiently with the parents, save time and dedicated your time to students</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/meeting.jpg' %>)">
        <h3>Parent/teacher meetings</h3>
        <p class="pl-2 text-center">Let the parents know about your availability and choose when they can come and meet you. Don't waste time with the ogranization, get more time to prepare!</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'dashboard/schedule.jpg' %>)">
        <h3>Schedules</h3>
        <p class="pl-2 text-center">Prepare the schedule for the entire year. Change the schedule easily and let the parents consult the new schedule without worrying about students forgetting to inform them about the change.</p>
    </div>
  </div>
  <div class="flex-column justify-content-center right-half p-4" style="flex: 1;">
    <%= image_tag 'homepage/teacher.png', style: 'max-height: 800px' %>
  </div>
</section>

<section class="container-fluid mx-0 px-0 d-flex">
  <div class="flex-column justify-content-center left-half p-4" style="flex: 1;">
    <%= image_tag 'homepage/parent.png', style: 'max-height: 700px' %>
  </div>
  <div class="flex-column justify-content-center right-half p-4" style="flex: 1;">
    <h2 class="text-center text-white">Parents</h2>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsbulletin.jpg' %>)">
        <h3>Bulletin board</h3>
        <p class="pl-2 text-center">Check the bulletin board and see what are the next events the school organizes. Make sure you do not miss precious time with your child.</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsnotebook.jpg' %>)">
        <h3>Notebook</h3>
        <p class="pl-2 text-center">Get timely feedback from the teachers and communicate directly with them. No need to look for the notebook everywhere now.</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsmeeting.jpg' %>)">
        <h3>Parent/teacher meetings</h3>
        <p class="pl-2 text-center">See when your child's teacher is available. Choose among the available slots that match your schedule.</p>
    </div>
    <div class="card-category my-2 flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path 'homepage/parentsschedule.jpg' %>)">
        <h3>Schedules</h3>
        <p class="pl-2 text-center">Consult the updated schedule and make sure to prepare the right textbooks for your child. Make sure their day is worriless, and yours effortless.</p>
    </div>
  </div>
</section>
</section>
