<div class="d-flex justify-content-between dashboard-layout">
  <div class="flex-column ml-3 mt-3">
    <div id="dashboard-profile" class="text-center">
      <h3>Welcome<br>
         <%= current_user.name %></h3>
      <p>Today is <em><%= Date.today.strftime("%A, %b %d") %></em></p>
      <p class="time"><%= Time.now.strftime("%H:%M") %></p>
      <p>You are in charge of <strong><%= current_user.kurasus.length %></strong> classes</p>
    </div>
  </div>
  <div class="container d-flex justify-content-center mt-4">
    <div class="cards">
      <figure class="image-block mx-2">
        <h1>Bulletin Board</h1>
        <img src="<%= image_path 'dashboard/bulletinboard.jpg' %>" alt="" />
        <figcaption>
          <h3 class="text-center">
            <i class="fas fa-chevron-up"></i>
          </h3>
          <p>Post messages about upcoming events on the school bulletin board, to inform parents of the next events the school organizes.</p>
          <%= link_to "Go to the board", events_path, class: 'btn btn-primary' %>
        </figcaption>
      </figure>
      <figure class="image-block mx-2">
        <h1>Classes</h1>
        <img src="<%= image_path 'dashboard/class.png' %>" alt="" />
        <figcaption>
          <h3 class="text-center">
            <i class="fas fa-chevron-up"></i>
          </h3>
          <p>Write a message in a student's notebook<br>
            Check the class schedules<br>
            Look at students' grades</p>
          <%= link_to "Go to the classes", kurasus_path, class: 'btn btn-primary' %>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
